body {background-color: #fff98c;}
.contenido {text-align: center;}
.titulo {color: red;}
.titulo {text-align: center;}
.titulo {font-size: 50px;}
.titulo {font-style: oblique;}
.titulo {text-decoration: underline;}
.verde {color: green;}
.contenido1 {color: green;}
.lista1 {text-align: center;}
.lista1 {font-size: 30px;}
.lista1 {font-style: italic;}
.lista1 {text-decoration: underline}
.lista2 {text-align: center;}
.lista2 {font-size: 30px;}
.lista2 {font-style: italic;}
.lista2 {text-decoration: underline}
.rojo {text-align: center;}
.rojo {color: red;}
